.main-wrapper {
    display: grid;
    place-items: center;
    height: 100vh;
}

.main-container {
    width: 400px;
    background: rgba(220, 220, 220, .3);
    border-radius: 30px;
    box-shadow: 0 0 20px -5px rgba(66, 68, 90, 1);
    padding: 40px;
    text-align: center;
}

.title {
    font-weight: 700;
    font-size: 24px;
    margin: 30px;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.task-container {
    display: inline-block;
    border: 2px solid black;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    line-height: 1;
    // padding: 1em 2em;
    // color: #000;
    transition: 0.25s;

    &:hover, 
    &:focus {
        box-shadow: 0 0.5em 0.5em -0.4em #000;
        transform: translateY(-0.25em);
    }

    a {
        display: grid;
        width: 97px;
        height: 97px;
        place-content: center;
        text-decoration: none;
        color: black;
    }
}

