input[type="button"],
button,
input {
    display: inline-block;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    padding: 1em 2em;
    color: #000;
    transition: 0.25s;
    border-radius: 4px;
    cursor: pointer;

    &:hover,
    &:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #000;
    transform: translateY(-0.25em);
    }
  }

input {
    font-size: 14.5px;
    
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}